body {
    padding: 60px 0 0 0;
    margin: 0;
    background-color: #434343;
    font-family: "Gantari", sans-serif;
}

/*Début de la navigation*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #434343;
}

nav {
    text-align: center;
    font-size: 20px;
}

ul{
    display: flex;
    justify-content: space-around;
}

nav a{
    color: white;
    text-decoration: none;
}

nav li :hover{
    color: gray;
}

nav li{
    display: inline;
    list-style: none;
}

/*Fin de la navigation*/

#banderole {
    width: 100%;
}

/*Début de la présentation*/

.antoine {
    background-color: #f1f1f1;
    margin: 2% 8% 2% 8%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.antoine::after{
    content: "";
    display: block;
    clear: both;
}

.antoine h2 {
    margin-bottom: 10px;
}

.antoine p {
    line-height: 1.2;
}

#img_antoine {
    border-radius: 20px;
    width: 15%;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    margin: 0 20px 5px 0;
}

.personnel {
    display: flex;
    justify-content: center;
    word-wrap : break-word;
}

.personnel div{
    width: 400px;
    height: 300px;
    margin: 30px;
    background-color: aliceblue;
    border-radius: 15px;
}

.personnel ul {
    display: initial;
    font-size: 20px;
    list-style-type: none;
}

.competence hr{
    size: 4;
}



/*Fin de la présentation*/

