/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.page3{
  margin-top: 15px;
  margin-left: 16%;
  margin-right: 16%;
}
.Fondtextp3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: rgba(23,23,23,0.80);
  color: white;
  border: solid 1px grey;
  border-radius: 1em;
  padding: 20px;
}

.Fondtextp2:active{
  background-color: black;
  transition: background-color 1s;
}

img{
  box-shadow: 3px 3px 3px grey;
  border-radius: 1em;
}

img:hover{
  box-shadow: 3px 3px 3px white;
}

p{
  font-size: 1.2em;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

/*paragraphe 1*/
#aurora{
  border: 1px white solid;
  float: left;
  margin-right: 15px;
  width: 35%;
}

/*paragraphe 2*/
#borg_cube{
  border: 1px white solid;
  float: right;
  margin-left: 15px;
  width: 30%;
}

/*paragraphe 3*/
#sanctuary{
  border: 1px white solid;
  float: left;
  margin-right: 15px;
  width: 35%;
}

/*paragraphe 4*/
#mass_relay{
  border: 1px white solid;
  float: right;
  margin-left: 15px;
  width: 35%;
}

/*paragraphe 5*/
#etoile{
  border: 1px white solid;
  float: left;
  margin-right: 15px;
  width: 35%;
}

/*FOOTER*/
footer{
    margin-top: 20px;
}
